<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETY-Translator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="text-center">
        <h1>GAIT Final Project: ETY-Translator</h1>
        <h4>Group member: EJay, Tommy, and Yan</h4>
        <img src="/static/title_image_new.png" alt="Title Image" style="width:100%; max-width:500px;">
    </header>

    <div class="container mt-4">
        <div class="row">
            <!-- Language Detection from the Speaker -->
            <div class="col-md-6">
                <h3>Language Detection from the Speaker</h3>
                <button id="toggleRecordButton" class="btn btn-primary">🔴 Start Recording</button>
                <audio id="audioPlayback" controls style="display: none;"></audio>
                <textarea id="transcriptionOutput" class="form-control mt-3" rows="4" readonly></textarea>
            </div>

            <!-- Language Detection from the User -->
            <div class="col-md-6">
                <h3>Language Detection from the User</h3>
                <button id="toggleLanguageRecordButton" class="btn btn-primary">🔴 Start Recording</button>
                <audio id="languageAudioPlayback" controls style="display: none;"></audio>
                <textarea id="detectedLanguageOutput" class="form-control mt-3" rows="4" readonly></textarea>
            </div>
        </div>

        <!-- Translation Output Section -->
        <div class="row mt-4">
            <div class="col">
                <h2>Translation Output</h2>
                <textarea id="translationOutput" class="form-control" rows="4" readonly></textarea>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer class="mt-4">
        <!-- Footer content -->
    </footer>
</body>
</html>
